/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
.lb-loader,.lightbox{text-align:center;line-height:0}body:after{content:url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);display:none}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;border-radius:3px}.lightbox a img{border:none}.lb-outerContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;border-radius:4px}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-container{padding:4px}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
strong,
b {
  font-weight: 400;
}
input,
textarea,
a {
  outline: none;
}
figure,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
}
small {
  font-size: 13px;
}
body {
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  overflow-y: scroll;
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.block-cols .block-col {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.block-cols.block-cols-6 .block-col {
  width: 16.66666667%;
}
.block-cols.block-cols-5 .block-col {
  width: 20%;
}
.block-cols.block-cols-4 .block-col {
  width: 25%;
}
.block-cols.block-cols-3 .block-col {
  width: 33.33333333%;
}
.block-cols.block-cols-2 .block-col {
  width: 50%;
}
.block-cols.block-cols-1 .block-col {
  width: 100%;
}
body.first-screen-displayed,
body.remove-overflow {
  overflow: hidden;
}
body.first-screen-displayed,
.xmouse-first-screen {
  height: 100vh;
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: 15;
  background: #ffffff;
  text-align: center;
  color: #ff0000;
}
.preloader-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
.preloader-content img {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
}
.xmouse-first-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url('../img/bg-first-screen.png') no-repeat center center;
  background-size: cover;
  text-align: center;
  z-index: 10;
}
.first-screen-callback {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 25px;
  top: 15px;
  background: url('../img/icon-phone-white.png') no-repeat center center;
}
.first-screen-scroll {
  position: absolute;
  width: 53px;
  height: 135px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  background: url('../img/icon-scroll.png') no-repeat center top;
  cursor: pointer;
}
.first-screen-title {
  position: absolute;
  left: 50%;
  bottom: 23%;
  transform: translateX(-50%);
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.fullscreen-popup-bg {
  position: fixed;
  width: 500px;
  height: 500px;
  top: 15px;
  right: 15px;
  margin-top: -230px;
  margin-right: -230px;
  background: #131313;
  border-radius: 50%;
  transform: scale(0);
  z-index: 11;
}
.fullscreen-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 12;
  color: #ffffff;
}
.fullscreen-popup.thanks {
  text-align: center;
}
.fullscreen-popup.thanks .popup-thanks {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.fullscreen-popup.thanks h3 {
  margin: 0 0 25px;
  font-weight: 400;
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-size: 52.4px;
}
.fullscreen-popup.thanks p {
  margin: 0;
  font-size: 18px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
  padding: 11px 0 13px;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.09);
  z-index: 2;
}
.header-logo {
  position: absolute;
  width: 120px;
  height: 24px;
  left: 25px;
  top: 50%;
  margin-top: -12px;
  z-index: 1;
}
.header-logo img {
  display: block;
  width: 100%;
}
.header-menu {
  position: relative;
  padding-top: 2px;
}
.header-menu li {
  display: inline-block;
  padding: 0 37px;
  font-size: 15px;
  vertical-align: top;
}
.header-menu a {
  color: #000000;
}
.header-menu a:hover {
  color: #ff0000;
}
.header-menu-scroller {
  position: absolute;
  width: 7px;
  height: 7px;
  left: 0;
  bottom: -16px;
  opacity: 0;
  border: 1px solid #000000;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.header-callback {
  position: absolute;
  width: 23px;
  height: 23px;
  right: 25px;
  top: 50%;
  margin-top: -9.5px;
  background: url('../img/icon-phone-gray.png') no-repeat center center;
}
main {
  padding-top: 47px;
}
.promo {
  min-height: 3510px;
  padding: 110px 0 0;
  background: url('../img/bg-body.jpg') no-repeat center top;
  text-align: center;
}
.promo-about-single {
  position: relative;
  display: inline-block;
  margin: 0 40px;
  padding: 40px 35px;
  vertical-align: top;
  cursor: pointer;
}
.promo-about-single .c-t-l,
.promo-about-single .c-t-r,
.promo-about-single .c-b-l,
.promo-about-single .c-b-r {
  position: absolute;
  width: 23px;
  height: 23px;
  opacity: 0;
  transition: all 0.3s ease;
}
.promo-about-single .c-t-l,
.promo-about-single .c-t-r {
  top: 0;
  border-top: 2px solid #ff0000;
}
.promo-about-single .c-t-l {
  transform: translate(15px, 15px);
}
.promo-about-single .c-t-r {
  transform: translate(-15px, 15px);
}
.promo-about-single .c-t-l,
.promo-about-single .c-b-l {
  left: 0;
  border-left: 2px solid #ff0000;
}
.promo-about-single .c-t-r,
.promo-about-single .c-b-r {
  right: 0;
  border-right: 2px solid #ff0000;
}
.promo-about-single .c-b-l,
.promo-about-single .c-b-r {
  bottom: 0;
  border-bottom: 2px solid #ff0000;
}
.promo-about-single .c-b-l {
  transform: translate(15px, -15px);
}
.promo-about-single .c-b-r {
  transform: translate(-15px, -15px);
}
.promo-about-single.active .c-t-l,
.promo-about-single.active .c-t-r,
.promo-about-single.active .c-b-l,
.promo-about-single.active .c-b-r {
  opacity: 1;
  transform: translate(0, 0);
}
.promo-about-single.active {
  cursor: pointer;
}
.promo-xmouse {
  display: block;
  width: 117px;
  height: 117px;
  margin: 0 auto;
}
.promo-xmouse-direct .promo-xmouse {
  background: url('../img/xmouse-direct-gray.png') no-repeat center center;
}
.promo-xmouse-direct.active .promo-xmouse {
  background: url('../img/xmouse-direct-red.png') no-repeat center center;
}
.promo-xmouse-action .promo-xmouse {
  background: url('../img/xmouse-action-gray.png') no-repeat center center;
}
.promo-xmouse-action.active .promo-xmouse {
  background: url('../img/xmouse-action-red.png') no-repeat center center;
}
.promo-xmouse-art .promo-xmouse {
  background: url('../img/xmouse-art-gray.png') no-repeat center center;
}
.promo-xmouse-art.active .promo-xmouse {
  background: url('../img/xmouse-art-red.png') no-repeat center center;
}
.promo-xmouse-concept .promo-xmouse {
  background: url('../img/xmouse-concept-gray.png') no-repeat center center;
}
.promo-xmouse-concept.active .promo-xmouse {
  background: url('../img/xmouse-concept-red.png') no-repeat center center;
}
.promo-single-title {
  margin: 12px 0 2px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 1;
}
.promo-single-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 12.7px;
}
.promo-text {
  max-width: 730px;
  margin: 70px auto 0;
  font-weight: 300;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 27px;
}
.promo-text p {
  display: none;
  position: relative;
  left: -70px;
  opacity: 0;
  margin: 0;
}
.promo-text .active {
  display: block;
  left: 0;
  opacity: 1;
}
.promo-events {
  max-width: 1105px;
  min-height: 617px;
  margin: 550px auto 0;
  background: url('../img/events-graphics.png') no-repeat top 20px right 45px;
}
.promo-events-title {
  width: 241px;
  height: 103px;
  margin: 0;
  margin-left: 45px;
  padding: 31px 0 0 28px;
  font-weight: 400;
  font-size: 22px;
  font-family: 'PT Serif', 'Times New Roman', serif;
  background: url('../img/bg-promo-events.png') no-repeat center center;
}
.promo-events-text {
  max-width: 470px;
  margin: 180px 0 0 70px;
  font-size: 18px;
  line-height: 29px;
  text-align: left;
}
.why-xmouse-container {
  margin-top: 260px;
  text-align: center;
}
.why-xmouse img {
  display: block;
  margin: 70px auto 0;
}
.why-xmouse-title {
  display: block;
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-size: 25px;
}
.why-xmouse-text {
  max-width: 740px;
  margin: 90px auto 0;
}
.why-xmouse-text p {
  margin: 60px 0 0;
  font-size: 18px;
  line-height: 26px;
}
.why-xmouse-text span {
  color: #da2623;
}
.xmouse-points-container {
  margin-top: 120px;
  overflow: hidden;
}
.xmouse-points {
  height: 680px;
}
.figures-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.xmouse-figures {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  transform: scale(0.7);
}
.figures-girl,
.figures-man,
.figures-girl span,
.figures-man span {
  position: absolute;
}
.figures-girl .text,
.figures-man .text {
  padding: 13px 18px;
  font-size: 25px;
  line-height: 30px;
  z-index: 2;
}
.figures-girl .line,
.figures-man .line,
.figures-girl .point,
.figures-man .point,
.figures-girl .text,
.figures-man .text {
  opacity: 0;
}
.figures-girl {
  left: -110px;
  top: 50px;
}
.figures-girl .text {
  text-align: right;
}
.figures-girl .text:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  border-top: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
}
.figures-girl .line,
.figures-girl .point,
.figures-girl .text {
  transform: translateX(-50px);
}
.figures-man {
  left: 115px;
  top: 0;
}
.figures-man .text {
  text-align: left;
}
.figures-man .text:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  border-top: 1px solid #ff0000;
  border-left: 1px solid #ff0000;
}
.figures-man .line,
.figures-man .point,
.figures-man .text {
  transform: translateX(50px);
}
.girl-body {
  width: 253px;
  height: 882px;
  top: 20px;
  left: 90px;
  background: url('../img/girl-body.png') no-repeat center center;
  z-index: 1;
}
.girl-bag {
  width: 158px;
  height: 208px;
  left: 20px;
  top: 430px;
  background: url('../img/girl-bag.png') no-repeat center center;
  z-index: 1;
}
.girl-watch {
  width: 39px;
  height: 21px;
  top: 394px;
  left: 87px;
  background: url('../img/girl-watch.png') no-repeat center center;
  z-index: 1;
}
.girl-phone {
  width: 50px;
  height: 71px;
  top: 410px;
  left: 275px;
  background: url('../img/girl-iphone.png') no-repeat center center;
}
.line {
  position: absolute;
  z-index: 1;
}
.girl-body-line {
  top: 125px;
  left: -78px;
}
.girl-bag-line {
  top: 600px;
  left: -155px;
}
.girl-watch-line {
  top: 270px;
  left: -129px;
}
.girl-phone-line {
  top: 440px;
  left: -108px;
}
.girl-legs-line {
  top: 741px;
  left: -67px;
}
.girl-body-text {
  width: 390px;
  left: -475px;
  top: 100px;
}
.girl-watch-text {
  width: 400px;
  top: 250px;
  left: -541px;
}
.girl-phone-text {
  width: 430px;
  top: 420px;
  left: -551px;
}
.girl-bag-text {
  width: 402px;
  top: 603px;
  left: -570px;
}
.girl-legs-text {
  width: 303px;
  top: 756px;
  left: -381px;
}
.man-body {
  width: 570px;
  height: 968px;
  top: 0;
  left: 0;
  background: url('../img/man-body.png') no-repeat center center;
  z-index: 1;
}
.man-bag {
  width: 245px;
  height: 235px;
  top: 490px;
  left: 302px;
  background: url('../img/man-bag.png') no-repeat center center;
}
.man-watch {
  width: 44px;
  height: 30px;
  top: 415px;
  left: 167px;
  background: url('../img/man-watch.png') no-repeat center center;
  z-index: 1;
}
.man-phone {
  width: 35px;
  height: 33px;
  top: 145px;
  left: 270px;
  background: url('../img/man-iphone.png') no-repeat center center;
  z-index: 1;
}
.man-body-line {
  top: 66px;
  left: 370px;
}
.man-bag-line {
  top: 597px;
  left: 480px;
}
.man-watch-line {
  top: 443px;
  left: 231px;
}
.man-phone-line {
  top: 193px;
  left: 308px;
}
.man-legs-line {
  top: 773px;
  left: 468px;
}
.man-body-text {
  width: 500px;
  top: 136px;
  left: 579px;
}
.man-phone-text {
  width: 370px;
  left: 610px;
  top: 320px;
}
.man-watch-text {
  width: 355px;
  left: 669px;
  top: 446px;
}
.man-bag-text {
  width: 415px;
  top: 579px;
  left: 726px;
}
.man-legs-text {
  width: 415px;
  top: 750px;
  left: 686px;
}
.point {
  width: 26px;
  height: 26px;
  background: url('../img/icon-point.png') no-repeat center center;
  z-index: 1;
}
.girl-body-point {
  left: 201px;
  top: 144px;
}
.girl-bag-point {
  top: 575px;
  left: 50px;
}
.girl-watch-point {
  top: 300px;
  left: 112px;
}
.girl-phone-point {
  left: 282px;
  top: 424px;
}
.girl-legs-point {
  left: 180px;
  top: 720px;
}
.man-body-point {
  top: 50px;
  left: 340px;
}
.man-bag-point {
  left: 450px;
  top: 610px;
}
.man-watch-point {
  top: 426px;
  left: 201px;
}
.man-phone-point {
  left: 285px;
  top: 170px;
}
.man-legs-point {
  left: 448px;
  top: 885px;
}
.whatwedo {
  margin-top: 130px;
  padding-bottom: 88px;
  background: url('../img/bg-whatwedo.jpg') no-repeat center top;
}
.whatwedo .container {
  max-width: 1100px;
}
.whatwedo-title {
  margin: 0;
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 52.4px;
  text-align: center;
}
.whatwedo-list {
  margin-top: 155px;
}
.work-single {
  position: relative;
  padding: 50px 40px 25px;
  border-radius: 10px;
  background: #292929;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.09);
}
.work-single p {
  margin: 0;
  line-height: 21px;
  color: #ffffff;
}
.work-single-img,
.work-single-title {
  position: absolute;
}
.work-single-title {
  max-width: 285px;
  padding: 6px 14px 6px 17px;
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-weight: 400;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  color: #ffffff;
  background: #eb3a3a;
  border-radius: 5px;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.21);
}
.work-single-img {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
.work-corporative,
.work-cliens {
  width: 495px;
}
.work-corporative {
  margin-left: 70px;
  padding-top: 50px;
  padding-left: 60px;
}
.work-corporative .work-single-img {
  left: -165px;
  top: -30px;
}
.work-corporative .work-single-title {
  left: -23px;
  top: -17px;
}
.work-teambuilding {
  width: 445px;
  margin-right: -70px;
  padding-top: 105px;
}
.work-teambuilding .work-single-img {
  left: 80px;
  top: -95px;
}
.work-teambuilding .work-single-title {
  left: 25px;
  top: 60px;
}
.work-cliens {
  margin-top: 170px;
  margin-left: -5px;
}
.work-cliens .work-single-img {
  top: -110px;
  left: -40px;
}
.work-cliens .work-single-title {
  left: 128px;
  top: -22px;
}
.work-marketing {
  width: 550px;
  margin-top: 150px;
  margin-right: -60px;
}
.work-marketing .work-single-title {
  left: -28px;
  top: -17px;
}
.work-design {
  width: 450px;
  margin-left: 290px;
  margin-top: 80px;
  padding-left: 135px;
}
.work-design .work-single-img {
  top: -15px;
  left: -80px;
}
.work-design .work-single-title {
  left: 70px;
  top: -8px;
}
.work-wedding {
  width: 625px;
  margin-top: 80px;
  margin-left: -40px;
  padding-left: 207px;
}
.work-wedding .work-single-img {
  top: -37px;
  left: -45px;
}
.work-wedding .work-single-title {
  left: 70px;
  top: -8px;
}
.work-creative {
  width: 400px;
  margin-top: 30px;
  margin-right: -80px;
}
.work-creative .work-single-title {
  top: -90px;
  left: 107px;
  padding-top: 77px;
  padding-bottom: 18px;
  background: url('../img/work-creative.png') no-repeat top 20px center #eb3a3a;
}
.work-private {
  width: 615px;
  margin: 117px auto 0;
  text-align: center;
}
.work-private .work-single-title {
  left: 170px;
  top: -15px;
}
.work-private .work-single-img {
  left: 380px;
  top: -66px;
  z-index: 1;
  box-shadow: none;
}
.gallery {
  margin: 0;
  padding-bottom: 60px;
  text-align: center;
  background: url('../img/bg-promotion.jpg') no-repeat center center;
}
.gallery .decor-line {
  width: 31px;
  height: 204px;
  position: relative;
  top: -12px;
  margin: 0 auto;
  background: url('../img/decor-line-1.png') no-repeat center center;
}
.gallery-title {
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 76px;
}
.gallery-text {
  max-width: 550px;
  margin: 0 auto;
}
.gallery-text p {
  margin: 35px 0 0;
  font-size: 18px;
}
.gallery-works-wrapper {
  max-width: 1165px;
  margin: 65px auto;
}
.gallery-works {
  margin-left: -6px;
  margin-right: -6px;
}
.gallery-works a {
  float: left;
  padding: 7px 6px;
}
.gallery-works a img {
  display: block;
  width: 135px;
  height: 135px;
  box-shadow: 3px 1px 13px 0px rgba(0, 0, 0, 0.29);
}
.gallery-works a:hover img {
  opacity: 0.9;
}
.gallery-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
  color: #000000;
  border: 3px solid #ff0000;
  border-radius: 15px;
}
.gallery-button:hover {
  color: #ffffff;
  background: #ff0000;
}
.button-decor-line {
  display: block;
  width: 15px;
  height: 185px;
  margin: 0 auto;
  background: url('../img/decor-line-2.png') no-repeat center center;
}
form .form-title {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'PT Serif', 'Times New Roman', serif;
}
form input[type=text],
form input[type=tel],
form input[type=email] {
  display: inline-block;
  max-width: 175px;
  margin: 0 10px;
  padding: 9px 11px;
  font-size: 15px;
  vertical-align: top;
  border: 2px solid #000000;
  border-radius: 5px;
}
form input[type=text]:focus,
form input[type=tel]:focus,
form input[type=email]:focus {
  border-color: #ff0000;
}
form input[type=submit] {
  display: block;
  margin: 25px auto 0;
  padding: 13px 24px;
  font-size: 18px;
  color: #ffffff;
  background: #363636;
  border: none;
  border-radius: 24px;
}
form input[type=submit]:active {
  position: relative;
  top: 2px;
}
.gallery-form {
  margin-top: 35px;
}
.popup-form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
.popup-form input[type=text],
.popup-form input[type=tel],
.popup-form input[type=email] {
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
}
.popup-form input[type=submit] {
  background: #ff0000;
}
.popup-close {
  position: absolute;
  top: 21px;
  right: 25px;
  width: 14px;
  height: 14px;
  background: url('../img/icon-close.png') no-repeat center center;
  cursor: pointer;
}
.xmouse-logo {
  margin-bottom: 65px;
}
.xmouse-logo img {
  margin: 0 15px;
}
footer {
  padding: 30px 0;
  background: #da2623;
  text-align: center;
}
footer .container {
  max-width: 1100px;
}
.footer-email,
.footer-map,
.footer-phone {
  display: inline-block;
  margin: 0 50px;
  padding: 32px 0 0;
  font-size: 15px;
  vertical-align: top;
  color: #ffffff;
}
.footer-email {
  background: url('../img/icon-email-white.png') no-repeat center top 10px;
}
.footer-map {
  background: url('../img/icon-map-white.png') no-repeat center top;
}
.footer-phone {
  background: url('../img/icon-mobile-white.png') no-repeat center top 2px;
}
.xmouse-map {
  margin-top: 5px;
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.lb-number {
  display: none !important;
}
.popup-white {
  position: relative;
  max-width: 485px;
  margin: 0 auto;
  padding: 45px 60px;
  background: #ffffff;
  border-radius: 5px;
}
.popup-white input[type=text] {
  display: block;
  max-width: none;
  width: 100%;
  margin: 0 0 15px;
}
.popup-white input[type=tel],
.popup-white input[type=email] {
  margin: 0 0 15px;
}
.popup-white input[type=tel] {
  float: left;
}
.popup-white input[type=email] {
  float: right;
}
.popup-white input[type=text]:not([required]) {
  border-color: rgba(0, 0, 0, 0.42);
}
.popup-white input[type=text]:not([required]):focus {
  border-color: #ff0000;
}
.popup-white-title {
  margin: 0 0 25px;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .whatwedo .container,
  .gallery-works-wrapper,
  footer .container {
    max-width: 1000px;
  }
  .whatwedo-list {
    margin-top: 0;
  }
  .whatwedo-list .clearfix {
    display: none;
  }
  .work-single {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-right: 1%;
    padding: 40px;
    float: none;
  }
  .work-single .work-single-img {
    display: none;
  }
  .work-single .work-single-title {
    display: block;
    position: static;
    margin-bottom: 20px;
    padding: 6px 14px 6px 17px;
    background: #eb3a3a;
  }
  .gallery-works {
    margin-left: -8px;
    margin-right: -8px;
  }
  .gallery-works a {
    padding: 7px 5px;
  }
}
@media screen and (max-width: 1040px) {
  .whatwedo .container,
  .gallery-works-wrapper,
  footer .container,
  .container {
    max-width: none;
    width: 100%;
    padding: 0 15px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .first-screen-title {
    width: 100%;
  }
  .first-screen-scroll {
    height: 105px;
  }
  .first-screen-callback {
    top: 15px;
    right: 15px;
  }
  .header-menu {
    display: none;
  }
  .header-logo {
    margin-top: 0;
    left: 15px;
    z-index: 1;
  }
  .header-callback {
    margin-top: 1px;
    right: 15px;
  }
  .promo {
    min-height: 0;
    height: auto;
    padding: 80px 0;
    background-size: cover;
  }
  .promo-about-single {
    width: 50%;
    margin: 0 0 15px;
    margin-right: -4px;
    padding: 15px;
  }
  .promo-text {
    margin-top: 25px;
  }
  .promo-events {
    min-height: 0;
    margin-top: 80px;
    background: none;
  }
  .promo-events-title {
    margin: 0 auto;
  }
  .promo-events-text {
    max-width: none;
    margin: 25px 0;
    text-align: center;
  }
  .why-xmouse-container {
    margin-top: 80px;
  }
  .why-xmouse img {
    margin-top: 10px;
  }
  .why-xmouse-text {
    margin-top: 40px;
  }
  .why-xmouse-text p {
    margin-top: 40px;
  }
  .xmouse-points-container {
    display: none;
  }
  .whatwedo {
    margin-top: 0;
    padding-bottom: 80px;
    background-size: cover;
  }
  .work-single {
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 25px 10px;
    text-align: center;
  }
  .work-single .work-single-title {
    max-width: none;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0;
  }
  .gallery {
    padding-bottom: 80px;
  }
  .gallery-title {
    font-size: 52px;
  }
  .gallery-text p {
    margin-top: 40px;
  }
  .gallery-works-wrapper {
    margin: 40px auto;
    padding: 0;
  }
  .gallery-works {
    margin: 0;
  }
  .gallery-works a {
    width: 50%;
    height: 119px;
    padding: 5px;
    overflow: hidden;
  }
  .gallery-works a img {
    width: 100%;
    height: auto;
  }
  .gallery-form {
    margin-top: 40px;
  }
  form .form-title {
    margin-bottom: 20px;
  }
  form input[type=text],
  form input[type=tel],
  form input[type=email] {
    display: block;
    max-width: 200px;
    margin: 0 auto 15px;
  }
  form input[type=submit] {
    margin-top: 20px;
  }
  .footer-email,
  .footer-map,
  .footer-phone {
    display: block;
    margin: 0 auto 25px;
  }
  .footer-phone {
    margin-bottom: 0;
  }
  .fullscreen-popup-bg {
    margin-top: -237px;
    margin-right: -237px;
  }
  .popup-close {
    top: 15px;
    right: 15px;
  }
  .xmouse-logo {
    margin: 0;
  }
  .xmouse-logo img {
    margin-bottom: 15px;
  }
  .popup-white {
    padding: 15px;
  }
  .popup-white input[type=tel],
  .popup-white input[type=email] {
    display: block;
    max-width: none;
    width: 100%;
    float: none;
  }
  .popup-white input[type=submit] {
    background: #ff0000;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .work-single {
    display: inline-block;
    width: calc(50% - 15px);
    width: -webkit-calc(50% - 15px);
    width: -o-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    width: -ie-calc(50% - 15px);
    margin: 25px 3.5px 0 7.5px;
  }
  .gallery-works {
    margin: 0 -8px;
  }
  .gallery-works a {
    width: inherit;
    height: inherit;
    padding: 8px;
    overflow: inherit;
  }
  .gallery-works a img {
    width: 134px;
    height: 134px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gallery-works a img {
    width: 128px;
    height: 128px;
  }
}
