@media screen and (max-width: 1280px) {

    .whatwedo .container,
    .gallery-works-wrapper,
    footer .container {
        max-width: 1000px;
    }

    .whatwedo-list {
        margin-top: 0;

        .clearfix {
            display: none;
        }
    }

    .work-single {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
        margin-right: 1%;
        padding: 40px;
        float: none;

        .work-single-img {
            display: none;
        }
        .work-single-title {
            display: block;
            position: static;
            margin-bottom: 20px;
            padding: 6px 14px 6px 17px;
            background: @pastelred;
        }
    }

    .gallery-works {
        margin-left: -8px;
        margin-right: -8px;
    }

    .gallery-works a {
        padding: 7px 5px;
    }
}

@media screen and (max-width: 1040px) {

    .whatwedo .container,
    .gallery-works-wrapper,
    footer .container,
    .container {
        max-width: none;
        width: 100%;
        padding: 0 15px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .first-screen-title {
        width: 100%;
    }

    .first-screen-scroll {
        height: 105px;
    }

    .first-screen-callback {
        top: 15px;
        right: 15px;
    }

    .header-menu {
        display: none;
    }

    .header-logo {
        margin-top: 0;
        left: 15px;
        z-index: 1;
    }

    .header-callback {
        margin-top: 1px;
        right: 15px;
    }

    .promo {
        min-height: 0;
        height: auto;
        padding: 80px 0;
        background-size: cover;
    }

    .promo-about-single {
        width: 50%;
        margin: 0 0 15px;
        margin-right: -4px;
        padding: 15px;
    }

    .promo-text {
        margin-top: 25px;
    }

    .promo-events {
        min-height: 0;
        margin-top: 80px;
        background: none;
    }

    .promo-events-title {
        margin: 0 auto;
    }

    .promo-events-text {
        max-width: none;
        margin: 25px 0;
        text-align: center;
    }

    .why-xmouse-container {
        margin-top: 80px;
    }

    .why-xmouse img {
        margin-top: 10px;
    }

    .why-xmouse-text {
        margin-top: 40px;

        p {
            margin-top: 40px;
        }
    }

    .xmouse-points-container {
        display: none;
    }

    .whatwedo {
        margin-top: 0;
        padding-bottom: 80px;
        background-size: cover;
    }

    .work-single {
        display: block;
        width: 100%;
        margin-right: 0;
        padding: 25px 10px;
        text-align: center;

        .work-single-title {
            max-width: none;
            margin-left: -10px;
            margin-right: -10px;
            border-radius: 0;
        }
    }

    .gallery {
        padding-bottom: 80px;
    }

    .gallery-title {
        font-size: 52px;
    }

    .gallery-text p {
        margin-top: 40px;
    }

    .gallery-works-wrapper {
        margin: 40px auto;
        padding: 0;
    }

    .gallery-works {
        margin: 0;

        a {
            width: 50%;
            height: 119px;
            padding: 5px;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .gallery-form {
        margin-top: 40px;
    }

    form {

        .form-title {
            margin-bottom: 20px;
        }

        input[type=text],
        input[type=tel],
        input[type=email] {
            display: block;
            max-width: 200px;
            margin: 0 auto 15px;
        }

        input[type=submit] {
            margin-top: 20px;
        }
    }

    .footer-email, .footer-map, .footer-phone {
        display: block;
        margin: 0 auto 25px;
    }

    .footer-phone {
        margin-bottom: 0;
    }

    .fullscreen-popup-bg {
        margin-top: -237px;
        margin-right: -237px;
    }

    .popup-close {
        top: 15px;
        right: 15px;
    }

    .xmouse-logo {
        margin: 0;

        img {
            margin-bottom: 15px;
        }
    }

    .popup-white {
        padding: 15px;

        input[type=tel],
        input[type=email] {
            display: block;
            max-width: none;
            width: 100%;
            float: none;
        }

        input[type=submit] {
            background: @red;
        }
    }
}

// #ipad portrait
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

    .work-single {
        display: inline-block;
        width: ~"calc(50% - 15px)";
        width: ~"-webkit-calc(50% - 15px)";
        width: ~"-o-calc(50% - 15px)";
        width: ~"-moz-calc(50% - 15px)";
        width: ~"-ie-calc(50% - 15px)";
        margin: 25px 3.5px 0 7.5px;
    }

    .gallery-works {
        margin: 0 -8px;

        a {
            width: inherit;
            height: inherit;
            padding: 8px;
            overflow: inherit;

            img {
                width: 134px;
                height: 134px;
            }
        }
    }
}

// #ipad landscape
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

    .gallery-works {

        a {

            img {
                width: 128px;
                height: 128px;
            }
        }
    }
}
