// #colors
@black: #000;
@white: #fff;
@red: #f00;
@tomato: #da2623;
@pastelred: #eb3a3a;

// #fonts
@opensans: 'Open Sans', 'Arial', sans-serif;
@roboto: 'Roboto', 'Arial', sans-serif;
@ptserif: 'PT Serif', 'Times New Roman', serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong, b {
    font-weight: 400;
}

input,
textarea,
a {
    outline: none;
}

figure, dl, dd {
  margin: 0;
}

a {
	text-decoration: none;
}

small {
    font-size: 13px;
}

body {
    color: @black;
    font-family: @opensans;
    overflow-y: scroll;
    //overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// #cols loop
.grid( @name; @columns; @index: 1 ) when ( @index =< @columns ) {
  .grid( @name; @columns; (@index + 1) );

  &.@{name}-@{index} .block-col {
    width: ( percentage(1 / @index) );
  }
}

// #cols
.block-cols {

  .block-col {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }

  .grid(block-cols; 6);
}
