// #first screen
body.first-screen-displayed,
body.remove-overflow {
    overflow: hidden;
}

body.first-screen-displayed,
.xmouse-first-screen {
    height: 100vh;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    height: 100vh;
    z-index: 15;
    background: @white;
    text-align: center;
    color: @red;
}

.preloader-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    img {
        display: inline-block;
        vertical-align: top;
        margin: 15px;
    }
}

.xmouse-first-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../img/bg-first-screen.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    z-index: 10;
}

.first-screen-callback {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 25px;
    top: 15px;
    background: url('../img/icon-phone-white.png') no-repeat center center;
}

.first-screen-scroll {
    position: absolute;
    width: 53px;
    height: 135px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    background: url('../img/icon-scroll.png') no-repeat center top;
    cursor: pointer;
}

.first-screen-title {
    position: absolute;
    left: 50%;
    bottom: 23%;
    transform: translateX(-50%);
    font-size: 18px;
    text-transform: uppercase;
    color: @white;
}

// #popup
.fullscreen-popup-bg {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 15px;
    right: 15px;
    margin-top: -230px;
    margin-right: -230px;
    background: #131313;
    border-radius: 50%;
    transform: scale(0);
    z-index: 11;
}

.fullscreen-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 12;
    color: @white;
}

.fullscreen-popup.thanks {
    text-align: center;

    .popup-thanks {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    h3 {
        margin: 0 0 25px;
        font-weight: 400;
        font-family: @ptserif;
        font-size: 52.4px;
    }

    p {
        margin: 0;
        font-size: 18px;
    }
}

// #header
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    padding: 11px 0 13px;
    background: @white;
    text-align: center;
    box-shadow: 0 3px 15px 0px fade(@black, 9%);
    z-index: 2;

    .container {
        // height: 21px;
    }
}

.header-logo {
    position: absolute;
    width: 120px;
    height: 24px;
    left: 25px;
    top: 50%;
    margin-top: -12px;
    z-index: 1;

    img {
        display: block;
        width: 100%;
    }
}

.header-menu {
    position: relative;
    padding-top: 2px;

    li {
        display: inline-block;
        padding: 0 37px;
        font-size: 15px;
        vertical-align: top;
    }

    a {
        color: @black;

        &:hover {
            color: @red;
        }
    }
}

.header-menu-scroller {
    position: absolute;
    width: 7px;
    height: 7px;
    left: 0;
    bottom: -16px;
    opacity: 0;
    border: 1px solid @black;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.header-callback {
    position: absolute;
    width: 23px;
    height: 23px;
    right: 25px;
    top: 50%;
    margin-top: -9.5px;
    background: url('../img/icon-phone-gray.png') no-repeat center center;
}

main {
    padding-top: 47px;
}

// #promo block
.promo {
    min-height: 3510px;
    padding: 110px 0 0;
    background: url('../img/bg-body.jpg') no-repeat center top;
    text-align: center;
}

.promo-about-single {
    position: relative;
    display: inline-block;
    margin: 0 40px;
    padding: 40px 35px;
    vertical-align: top;
    cursor: pointer;

    .c-t-l,
    .c-t-r,
    .c-b-l,
    .c-b-r {
        position: absolute;
        width: 23px;
        height: 23px;
        //
        opacity: 0;
        transition: all 0.3s ease;
    }
    .c-t-l,
    .c-t-r {
        top: 0;
        border-top: 2px solid @red;
    }
    .c-t-l {
        transform: translate(15px, 15px);
    }
    .c-t-r {
        transform: translate(-15px, 15px);
    }
    .c-t-l,
    .c-b-l {
        left: 0;
        border-left: 2px solid @red;
    }
    .c-t-r,
    .c-b-r {
        right: 0;
        border-right: 2px solid @red;
    }
    .c-b-l,
    .c-b-r {
        bottom: 0;
        border-bottom: 2px solid @red;
    }
    .c-b-l {
        transform: translate(15px, -15px);
    }
    .c-b-r {
        transform: translate(-15px, -15px);
    }

    // &:hover,
    &.active {

        .c-t-l,
        .c-t-r,
        .c-b-l,
        .c-b-r {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    &.active {
        cursor: pointer;
    }
}

.promo-xmouse {
    display: block;
    width: 117px;
    height: 117px;
    margin: 0 auto;
}

.promo-xmouse-direct {

    .promo-xmouse {
        background: url('../img/xmouse-direct-gray.png') no-repeat center center;
    }

    // &:hover .promo-xmouse,
    &.active .promo-xmouse {
        background: url('../img/xmouse-direct-red.png') no-repeat center center;
    }
}
.promo-xmouse-action {

    .promo-xmouse {
        background: url('../img/xmouse-action-gray.png') no-repeat center center;
    }

    // &:hover .promo-xmouse,
    &.active .promo-xmouse {
        background: url('../img/xmouse-action-red.png') no-repeat center center;
    }
}
.promo-xmouse-art {

    .promo-xmouse {
        background: url('../img/xmouse-art-gray.png') no-repeat center center;
    }

    // &:hover .promo-xmouse,
    &.active .promo-xmouse {
        background: url('../img/xmouse-art-red.png') no-repeat center center;
    }
}
.promo-xmouse-concept {

    .promo-xmouse {
        background: url('../img/xmouse-concept-gray.png') no-repeat center center;
    }

    // &:hover .promo-xmouse,
    &.active .promo-xmouse {
        background: url('../img/xmouse-concept-red.png') no-repeat center center;
    }
}

.promo-single-title {
    margin: 12px 0 2px;
    font-family: @roboto;
    font-weight: 100;
    font-size: 30px;
    line-height: 1;
}

.promo-single-subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 12.7px;
}

.promo-text {
    max-width: 730px;
    margin: 70px auto 0;
    font-weight: 300;
    font-family: @roboto;
    font-size: 20px;
    line-height: 27px;

    p {
        display: none;
        position: relative;
        left: -70px;
        opacity: 0;
        margin: 0;
    }

    .active {
        display: block;
        left: 0;
        opacity: 1;
    }
}

.promo-events {
    max-width: 1105px;
    min-height: 617px;
    margin: 550px auto 0;
    background: url('../img/events-graphics.png') no-repeat top 20px right 45px;
}

.promo-events-title {
    width: 241px;
    height: 103px;
    margin: 0;
    margin-left: 45px;
    padding: 31px 0 0 28px;
    font-weight: 400;
    font-size: 22px;
    font-family: @ptserif;
    background: url('../img/bg-promo-events.png') no-repeat center center;
}

.promo-events-text {
    max-width: 470px;
    margin: 180px 0 0 70px;
    font-size: 18px;
    line-height: 29px;
    text-align: left;
}

.why-xmouse-container {
    margin-top: 260px;
    text-align: center;
}

.why-xmouse img {
    display: block;
    margin: 70px auto 0;
}

.why-xmouse-title {
    display: block;
    font-family: @ptserif;
    font-size: 25px;
}

.why-xmouse-text {
    max-width: 740px;
    margin: 90px auto 0;

    p {
        margin: 60px 0 0;
        font-size: 18px;
        line-height: 26px;
    }

    span {
        color: @tomato;
    }
}

.xmouse-points-container {
    margin-top: 120px;
    overflow: hidden;
}

.xmouse-points {
    height: 680px;
}

.figures-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.xmouse-figures {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    transform: scale(0.7);
}

.figures-girl,
.figures-man {

    &, span {
        position: absolute;
    }

    .text {
        padding: 13px 18px;
        font-size: 25px;
        line-height: 30px;
        z-index: 2;
    }

    .line,
    .point,
    .text {
        opacity: 0;
    }
}

.figures-girl {
    left: -110px;
    top: 50px;

    .text {
        text-align: right;

        &:after {
            content: '';
            position: absolute;
            width: 60px;
            height: 60px;
            right: 0;
            top: 0;
            border-top: 1px solid @red;
            border-right: 1px solid @red;
        }
    }

    .line,
    .point,
    .text {
        transform: translateX(-50px);
    }
}

.figures-man {
    left: 115px;
    top: 0;

    .text {
        text-align: left;

        &:before {
            content: '';
            position: absolute;
            width: 60px;
            height: 60px;
            left: 0;
            top: 0;
            border-top: 1px solid @red;
            border-left: 1px solid @red;
        }
    }

    .line,
    .point,
    .text {
        transform: translateX(50px);
    }
}

// #girl parts
.girl-body {
    width: 253px;
    height: 882px;
    top: 20px;
    left: 90px;
    background: url('../img/girl-body.png') no-repeat center center;
    z-index: 1;
}
.girl-bag {
    width: 158px;
    height: 208px;
    left: 20px;
    top: 430px;
    background: url('../img/girl-bag.png') no-repeat center center;
    z-index: 1;
}
.girl-watch {
    width: 39px;
    height: 21px;
    top: 394px;
    left: 87px;
    background: url('../img/girl-watch.png') no-repeat center center;
    z-index: 1;
}
.girl-phone {
    width: 50px;
    height: 71px;
    top: 410px;
    left: 275px;
    background: url('../img/girl-iphone.png') no-repeat center center;
}

// #girl lines
.line {
    position: absolute;
    z-index: 1;
}

.girl-body-line {
    top: 125px;
    left: -78px;
}
.girl-bag-line {
    top: 600px;
    left: -155px;
}
.girl-watch-line {
    top: 270px;
    left: -129px;
}
.girl-phone-line {
    top: 440px;
    left: -108px;
}
.girl-legs-line {
    top: 741px;
    left: -67px;
}
// #texts
.girl-body-text {
    width: 390px;
    left: -475px;
    top: 100px;
}
.girl-watch-text {
    width: 400px;
    top: 250px;
    left: -541px;
}
.girl-phone-text {
    width: 430px;
    top: 420px;
    left: -551px;
}
.girl-bag-text {
    width: 402px;
    top: 603px;
    left: -570px;
}
.girl-legs-text {
    width: 303px;
    top: 756px;
    left: -381px;
}

// #man parts
.man-body {
    width: 570px;
    height: 968px;
    top: 0;
    left: 0;
    background: url('../img/man-body.png') no-repeat center center;
    z-index: 1;
}
.man-bag {
    width: 245px;
    height: 235px;
    top: 490px;
    left: 302px;
    background: url('../img/man-bag.png') no-repeat center center;
}
.man-watch {
    width: 44px;
    height: 30px;
    top: 415px;
    left: 167px;
    background: url('../img/man-watch.png') no-repeat center center;
    z-index: 1;
}
.man-phone {
    width: 35px;
    height: 33px;
    top: 145px;
    left: 270px;
    background: url('../img/man-iphone.png') no-repeat center center;
    z-index: 1;
}

// #man lines
.man-body-line {
    top: 66px;
    left: 370px;
}
.man-bag-line {
    top: 597px;
    left: 480px;
}
.man-watch-line {
    top: 443px;
    left: 231px;
}
.man-phone-line {
    top: 193px;
    left: 308px;
}
.man-legs-line {
    top: 773px;
    left: 468px;
}

// #girl texts
.man-body-text {
    width: 500px;
    top: 136px;
    left: 579px;
}
.man-phone-text {
    width: 370px;
    left: 610px;
    top: 320px;
}
.man-watch-text {
    width: 355px;
    left: 669px;
    top: 446px;
}
.man-bag-text {
    width: 415px;
    top: 579px;
    left: 726px;
}

.man-legs-text {
    width: 415px;
    top: 750px;
    left: 686px;
}

// #figures points
.point {
    width: 26px;
    height: 26px;
    background: url('../img/icon-point.png') no-repeat center center;
    z-index: 1;
}

.girl-body-point {
    left: 201px;
    top: 144px;
}
.girl-bag-point {
    top: 575px;
    left: 50px;
}
.girl-watch-point {
    top: 300px;
    left: 112px;
}
.girl-phone-point {
    left: 282px;
    top: 424px;
}
.girl-legs-point {
    left: 180px;
    top: 720px;
}

.man-body-point {
    top: 50px;
    left: 340px;
}
.man-bag-point {
    left: 450px;
    top: 610px;
}
.man-watch-point {
    top: 426px;
    left: 201px;
}
.man-phone-point {
    left: 285px;
    top: 170px;
}
.man-legs-point {
    left: 448px;
    top: 885px;
}

// #what we do block
.whatwedo {
    margin-top: 130px;
    padding-bottom: 88px;
    background: url('../img/bg-whatwedo.jpg') no-repeat center top;

    .container {
        max-width: 1100px;
    }
}

.whatwedo-title {
    margin: 0;
    font-family: @ptserif;
    font-weight: 400;
    font-size: 52.4px;
    text-align: center;
}

.whatwedo-list {
    margin-top: 155px;
}

.work-single {
    position: relative;
    padding: 50px 40px 25px;
    border-radius: 10px;
    background: #292929;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.09);

    p {
        margin: 0;
        line-height: 21px;
        color: @white;
    }
}

.work-single-img,
.work-single-title {
    position: absolute;
}

.work-single-title {
    max-width: 285px;
    padding: 6px 14px 6px 17px;
    font-family: @ptserif;
    font-weight: 400;
    letter-spacing: 9.6px;
    text-transform: uppercase;
    color: @white;
    background: @pastelred;
    border-radius: 5px;
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.21);
}

.work-single-img {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}

.work-corporative,
.work-cliens {
    width: 495px;
}
.work-corporative {
    margin-left: 70px;
    padding-top: 50px;
    padding-left: 60px;

    .work-single-img {
        left: -165px;
        top: -30px;
    }
    .work-single-title {
        left: -23px;
        top: -17px;
    }
}
.work-teambuilding {
    width: 445px;
    margin-right: -70px;
    padding-top: 105px;

    .work-single-img {
        left: 80px;
        top: -95px;
    }
    .work-single-title {
        left: 25px;
        top: 60px;
    }
}
.work-cliens {
    margin-top: 170px;
    margin-left: -5px;

    .work-single-img {
        top: -110px;
        left: -40px;
    }
    .work-single-title {
        left: 128px;
        top: -22px;
    }
}
.work-marketing {
    width: 550px;
    margin-top: 150px;
    margin-right: -60px;

    .work-single-title {
        left: -28px;
        top: -17px;
    }
}
.work-design {
    width: 450px;
    margin-left: 290px;
    margin-top: 80px;
    padding-left: 135px;

    .work-single-img {
        top: -15px;
        left: -80px;
    }
    .work-single-title {
        left: 70px;
        top: -8px;
    }
}
.work-wedding {
    width: 625px;
    margin-top: 80px;
    margin-left: -40px;
    padding-left: 207px;

    .work-single-img {
        top: -37px;
        left: -45px;
    }
    .work-single-title {
        left: 70px;
        top: -8px;
    }
}
.work-creative {
    width: 400px;
    margin-top: 30px;
    margin-right: -80px;

    .work-single-title {
        top: -90px;
        left: 107px;
        padding-top: 77px;
        padding-bottom: 18px;
        background: url('../img/work-creative.png') no-repeat top 20px center @pastelred;
    }
}
.work-private {
    width: 615px;
    margin: 117px auto 0;
    text-align: center;

    .work-single-title {
        left: 170px;
        top: -15px;
    }
    .work-single-img {
        left: 380px;
        top: -66px;
        z-index: 1;
        box-shadow: none;
    }
}

// #gallery block
.gallery {
    margin: 0;
    padding-bottom: 60px;
    text-align: center;
    background: url('../img/bg-promotion.jpg') no-repeat center center;

    .decor-line {
        width: 31px;
        height: 204px;
        position: relative;
        top: -12px;
        margin: 0 auto;
        background: url('../img/decor-line-1.png') no-repeat center center;
    }
}

.gallery-title {
    font-family: @ptserif;
    font-weight: 400;
    font-size: 76px;
}

.gallery-text {
    max-width: 550px;
    margin: 0 auto;

    p {
        margin: 35px 0 0;
        font-size: 18px;
    }
}

.gallery-works-wrapper {
    max-width: 1165px;
    margin: 65px auto;
}

.gallery-works {
    margin-left: -6px;
    margin-right: -6px;

    a {
        float: left;
        padding: 7px 6px;

        img {
            display: block;
            width: 135px;
            height: 135px;
            box-shadow: 3px 1px 13px 0px fade(@black, 29%);
        }

        &:hover img {
            opacity: 0.9;
        }
    }
}

.gallery-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 18px;
    color: @black;
    border: 3px solid @red;
    border-radius: 15px;

    &:hover {
        color: @white;
        background: @red;
    }
}

.button-decor-line {
    display: block;
    width: 15px;
    height: 185px;
    margin: 0 auto;
    background: url('../img/decor-line-2.png') no-repeat center center;
}

form {

    .form-title {
        display: block;
        margin-bottom: 30px;
        font-size: 30px;
        font-family: @ptserif;
    }

    input[type=text],
    input[type=tel],
    input[type=email] {
        display: inline-block;
        max-width: 175px;
        margin: 0 10px;
        padding: 9px 11px;
        font-size: 15px;
        vertical-align: top;
        border: 2px solid @black;
        border-radius: 5px;

        &:focus {
            border-color: @red;
        }
    }

    input[type=submit] {
        display: block;
        margin: 25px auto 0;
        padding: 13px 24px;
        font-size: 18px;
        color: @white;
        background: #363636;
        border: none;
        border-radius: 24px;

        &:active {
            position: relative;
            top: 2px;
        }
    }
}

.gallery-form {
    margin-top: 35px;
}

.popup-form {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    input[type=text],
    input[type=tel],
    input[type=email] {
        background: transparent;
        color: @white;
        border-color: @white;
    }
    input[type=submit] {
        background: @red;
    }
}

.popup-close {
    position: absolute;
    top: 21px;
    right: 25px;
    width: 14px;
    height: 14px;
    background: url('../img/icon-close.png') no-repeat center center;
    cursor: pointer;
}

.xmouse-logo {
    margin-bottom: 65px;

    img {
        margin: 0 15px;
    }
}

// #footer
footer {
    padding: 30px 0;
    background: @tomato;
    text-align: center;

    .container {
        max-width: 1100px;
    }
}

.footer-email,
.footer-map,
.footer-phone {
    display: inline-block;
    margin: 0 50px;
    padding: 32px 0 0;
    font-size: 15px;
    vertical-align: top;
    color: @white;
}

.footer-email {
    background: url('../img/icon-email-white.png') no-repeat center top 10px;
}
.footer-map {
    background: url('../img/icon-map-white.png') no-repeat center top;
}
.footer-phone {
    background: url('../img/icon-mobile-white.png') no-repeat center top 2px;
}

.xmouse-map {
    margin-top: 5px;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.lb-number {
    display: none !important;
}

// #simple popup
.popup-white {
    position: relative;
    max-width: 485px;
    margin: 0 auto;
    padding: 45px 60px;
    background: @white;
    border-radius: 5px;

    input[type=text] {
        display: block;
        max-width: none;
        width: 100%;
        margin: 0 0 15px;
    }

    input[type=tel],
    input[type=email] {
        margin: 0 0 15px;
    }

    input[type=tel] {
        float: left;
    }
    input[type=email] {
        float: right;
    }

    input[type=text]:not([required]) {
        border-color: fade(@black, 42%);

        &:focus {
            border-color: @red;
        }
    }
}

.popup-white-title {
    margin: 0 0 25px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}
